*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
html, body, #root, .wrapper{
    width: 100%;
    height: 100%;
}
/* element styles */
body{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
#root{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#homeButtons{
    padding: 10px;
    position: absolute;
}
$color: green;
#homeButtons>*{
    margin: 10px;
    &:hover{
        color: $color;
    }
}
#closeForm{
    background-color: white;
    padding: 0px 7px 2px;
    font-size: 20px;
    left: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 7px;
    cursor: pointer;
}
#closeForm:hover{
    color: red;
}
.wrapper{
    background: linear-gradient(to bottom right, rgba(42, 245, 153, 0.6), rgba(0, 157, 252, 0.5)) fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.container{
    width: 50%;
    min-width: 750px;
    max-width: 1000px;
    height: 75%;
    max-height: 600px;
    min-height: 480px;
    /* background: #009DFC; */
    
    display: flex;
    /* overflow: hidden; */
    position: relative;
}
.item_1, .item_2{
    width: 50%;
    height: 100%;
    min-height: 480px;
}
.item_1{
    background: url('./image/image-1.jpg') no-repeat;
    background-size: cover;
    border-radius: 7px 0 0 7px;
}
li{
    color: white;
    text-align: center;
}
.item_2{
    background: #3D5981;
    padding-top: 1%;
    padding-bottom: 5%;
    border-radius: 0 7px 7px 0;
}
/* style buttons */
.sign{
    color: #98A2BB;
    font-size: 18px;
    cursor: pointer;
    display: flex;
}
.sign>*{
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #5B779F;
}
.active{
    color: white;
    font-weight: 700;
    border-bottom: 3px solid #4BD2D8;
}
.not_active{
    color: #98A2BB;
    font-weight: 100;
    border-bottom: 3px solid #5B779F;
}
/* style form window */
.form_section{
    width: 100%;
    height: 100%;
    position: relative;
}
#form_1, #form_2{
    background: #3D5981;
    width: 100%;
    height: calc(100% - 60px);
    padding: 9% 10%;
    /* position: absolute; */
}
#form_1>label, #form_2>label{
    display: block;
}
#form_1>label>input, #form_2>label>input{
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #48648C;
    background-color: #3D5981;
    padding-left: 2%;
    padding-right: 9%;
    display: block;
}
.right{
    background: url("./image/iconfinder_check.png") no-repeat right center;
}

#form_1>label>span, #form_2>label>span{
    width: 100%;
    height: 18px;
    color: red;
    font-size: 14px;
    padding-left: 2%;
    display: inline-block;
}
#form_1>label>input:focus, #form_2>label>input:focus {
    outline: none;
}
::placeholder{
    color: wheat;
}
button{
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    margin-top: 2%;
}
#form_1{
    z-index: 2;
}
#form_2{
    z-index: 1;
}


/* media style */
@media only screen and (max-width: 754px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: normal;
        /* align-items: flex-start; */
        /* height: inherit; */
    }
    #root{
        display: flex;
        flex-direction: column;
        justify-content: normal;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 375px;
        height: 100%;
        max-height: 1000px;
        min-height: 1000px;
    }
    
    .item_1, .item_2{
        width: 100%;
        height: 50%;
        min-height: 480px;
    }
}
@media only screen and (max-height : 500px) {
    .container{
        height: 100%;
    }
  }